.item-edit {
  cursor: pointer;
}

.item-delete {
  cursor: pointer;
}

.toggle-on-hand {
  cursor: pointer;
}

.border-bottom {
  border-bottom: 1px solid #2c2e35;
}

.all-caps {
  text-transform: uppercase;
}

.fw-800 {
  font-weight: 800;
}

.fw-700 {
  font-weight: 700;
}

.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.fw-300 {
  font-weight: 300;
}

.fw-200 {
  font-weight: 200;
}

.fw-100 {
  font-weight: 100;
}

.fs-800 {
  font-size: 3rem;
}

.fs-700 {
  font-size: 2.5rem;
}

.fs-600 {
  font-size: 2rem;
}

.fs-500 {
  font-size: 1.5rem;
}

.fs-400 {
  font-size: 1.25rem;
}

.fs-300 {
  font-size: 1rem;
}

.fs-200 {
  font-size: 0.75rem;
}

.fs-100 {
  font-size: 0.5rem;
}

.overflow-elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gap-small {
  gap: 3px;
}

.gap-med {
  gap: 10px;
}

.grid {
  display: grid;
}

.four-col {
  grid-template-columns: repeat(4, 1fr);
}

.cols-4-25 {
  grid-template-columns: repeat(4, 25%);
}

.cols-5-20 {
  grid-template-columns: repeat(5, 20%);
}

.col-160-1fr {
  grid-template-columns: 160px 1fr;
}

.col-80-20 {
  grid-template-columns: 80% 20%;
}

.col-70-30 {
  grid-template-columns: 70% 30%;
}

.col-66-33 {
  grid-template-columns: 66% 33%;
}

.col-60-40 {
  grid-template-columns: 60% 40%;
}

.col-20-80 {
  grid-template-columns: 20% 80%;
}

.col-30-70 {
  grid-template-columns: 30% 70%;
}

.col-33-67 {
  grid-template-columns: 33% 66%;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-bottom {
  align-items: end;
  align-self: end;
}

.align-start {
  align-items: start;
  align-self: start;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.justify-content-end {
  justify-content: flex-end;
}

.rollable {
  cursor: pointer;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.rollable:hover {
  text-shadow: #ffffff 0 0 5px;
}

.portrait {
  padding: 10px;
}

.border-thick {
  border: 5px solid #2c2e35;
}

.border-right-thick {
  border-right: 5px solid #2c2e35;
}

.border-left-thick {
  border-left: 5px solid #2c2e35;
}

.border-bottom-thick {
  border-bottom: 5px solid #2c2e35;
}

.border-3-4-thick {
  border-bottom: 5px solid #2c2e35;
  border-left: 5px solid #2c2e35;
  border-right: 5px solid #2c2e35;
}

.border-thin {
  border: 1px solid #2c2e35;
}

.border-bottom-thin {
  border-bottom: 1px solid #2c2e35;
}

.border-top-thin {
  border-top: 1px solid #2c2e35;
}

.border-right-thin {
  border-right: 1px solid #2c2e35;
}

.border-left-thin {
  border-left: 1px solid #2c2e35;
}

.border-3-4-thin {
  border-bottom: 1px solid #2c2e35;
  border-left: 1px solid #2c2e35;
  border-right: 1px solid #2c2e35;
}

.margin-small {
  margin: 5px;
}

.margin-top-med {
  margin-top: 10px;
}

.margin-top-close {
  margin-top: -10px;
}

.padding-small {
  padding: 5px;
}

.padding-medium {
  padding: 10px;
}

.padding-large {
  padding: 20px;
}

.w-100 {
  width: 100%;
}

.h-3 {
  height: 3rem;
}

.bg-color-highlight {
  background: #cdeef0;
}

.mi-small {
  margin-inline: 5px;
}

.mw-fit {
  max-width: -moz-fit-content;
  max-width: fit-content;
}

:root {
  --color-shadow-primary: rgb(150, 248, 255);
  --color-shadow-highlight: rgb(105, 255, 230);
  --color-shadow-dark: rgb(44, 46, 53);
  --color-border-highlight-alt: rgb(185, 255, 228);
  --color-border-highlight: rgb(105, 255, 230);
  --color-border-light-highlight: #e0ebf0;
  --color-border-light-primary: #a4b4b5;
  --color-border-light-secondary: #b8c5c9;
  --color-border-light-tertiary: #71777a;
  --color-border-dark: #000;
  --color-border-dark-primary: #131619;
  --color-border-dark-secondary: #1d1f23;
  --color-border-dark-tertiary: #44454b;
  --color-scrollbar: rgb(44, 46, 53);
  --color-scrollbar-thumb: rgb(95, 109, 107);
  --color-scrollbar-border: rgb(44, 46, 53);
  --color-underline-active: rgb(53, 55, 63);
  --color-underline-header: rgb(73, 79, 87);
  --color-bg-btn-minor-inactive: #b8c4c9;
  --color-bg-btn-minor-active: #c9d4f8;
  --font-primary: "Assistant", sans-serif;
}

body {
  --color-scrollbar: rgb(44, 46, 53);
  --color-scrollbar-thumb: rgb(95, 109, 107);
  --color-scrollbar-border: rgb(44, 46, 53);
  --color-warm-1: hsl(194, 50%, 82%);
  --color-warm-2: #3f96c9;
  --color-warm-3: #564957;
  --color-cool-3: #584a75;
  --color-cool-4: #302831;
  --color-cool-5: #0b0a13;
  --color-cool-5-25: rgba(11, 10, 19, 0.25);
  --color-cool-5-50: rgba(11, 10, 19, 0.5);
  --color-cool-5-75: rgba(11, 10, 19, 0.75);
  --color-cool-5-90: rgba(11, 10, 19, 0.9);
  --color-light-1: #e8f2f7;
  --color-light-2: #d8e5ef;
  --color-light-3: #b1d8e7;
  --color-light-4: #a3c2d0;
  --color-light-5: #75979f;
  --color-light-6: #667581;
  --color-dark-1: #111111;
  --color-dark-2: #222222;
  --color-dark-3: #444444;
  --color-dark-4: #555555;
  --color-dark-5: #666666;
  --color-dark-6: #777777;
  background-color: #f0f7f5;
}
body .assistant-sc-regular {
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.app.sheet .editor {
  min-height: 55px;
}

.editor-content {
  padding: 0.5rem;
  min-height: 50px;
}

b.item {
  box-shadow: inset 0 0 8px 2px #f0f7f5;
  cursor: pointer;
}
b.item:hover {
  box-shadow: inset 0 0 8px 2px #cdeef0;
}
b.item.active {
  background: #cdeef0;
  cursor: default;
}
b.item.active:hover {
  box-shadow: inset 0 0 8px 2px #f0f7f5;
}

.window-app .window-content {
  color: #2c2e35;
  background: #f0f7f5;
}

#pause img {
  content: url("../assets/es-logo-wht-no-stroke.svg");
  width: 150px;
  height: 150px;
  top: -30px;
  left: calc(50% - 75px);
  opacity: 0.25;
  filter: drop-shadow(0px 0px 5px #cdeef0);
}

input[type=text], input[type=number] {
  color: #2c2e35;
  background-color: #ffffff;
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  border-radius: 0;
  border: none;
}

#curve {
  fill: transparent;
}

img {
  border: none;
  border-radius: 0;
}

text {
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
  letter-spacing: 16px;
  text-transform: uppercase;
  fill: #2c2e35;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1001;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.small-label {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

select[multiple] {
  padding-right: 0;
  height: 6rem;
}
select[multiple] option {
  white-space: normal;
  outline-color: #2c2e35;
}
select[multiple] option:checked {
  background-color: #f0f7f5;
  color: #2c2e35;
}

select:-internal-list-box option:checked {
  background-color: #f0f7f5;
  color: #2c2e35;
}/*# sourceMappingURL=electric-state.css.map */