select[multiple] {
    padding-right: 0;
    height: 6rem;
  }

    
  option {
    white-space: normal;
    outline-color: black;
  }

  option:checked {
    background-color: #007bff;
    color: white;
  }

  select:-internal-list-box option:checked {
    background-color: whitesmoke;
    color: black;
  }



.app.sheet .editor {
    min-height: 55px;
  }
  
  
  .editor-content {
    padding: 0.5rem;
    min-height: 50px;
  }

  .editor {
    height: 100%;
  }