.item-edit {
  cursor: pointer;
}

.item-delete {
  cursor: pointer;
}

.toggle-on-hand {
  cursor: pointer;
}

.border-bottom {
  border-bottom: 1px solid #2c2e35;
}

.gap-small {
  gap: 3px;
}

.grid {
  display: grid;
}

.col-160-1fr {
  grid-template-columns: 160px 1fr;
}

.col-20-80 {
  grid-template-columns: 20% 80%;
}

.col-30-70 {
  grid-template-columns: 30% 70%;
}

.col-33-67 {
  grid-template-columns: 33% 66%;
}

.align-bottom {
  align-items: end;
  align-self: end;
}

.align-content-start {
  align-content: flex-start;
}

.rollable {
  cursor: pointer;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.rollable:hover {
  text-shadow: rgba(255, 255, 255, 0.431372549) 0 0 5px;
}

.portrait {
  padding: 10px;
}

.border-thick {
  border: 5px solid #2c2e35;
}

.border-thin {
  border: 1px solid #2c2e35;
}

.padding-small {
  padding: 5px;
}

.padding-medium {
  padding: 10px;
}

.padding-large {
  padding: 20px;
}

.w-100 {
  width: 100%;
}

:root {
  --color-shadow-primary: rgb(150, 248, 255);
  --color-shadow-highlight: rgb(105, 255, 230);
  --color-shadow-dark: rgb(44, 46, 53);
  --color-border-highlight-alt: rgb(185, 255, 228);
  --color-border-highlight: rgb(105, 255, 230);
  --color-border-light-highlight: #e0ebf0;
  --color-border-light-primary: #a4b4b5;
  --color-border-light-secondary: #b8c5c9;
  --color-border-light-tertiary: #71777a;
  --color-border-dark: #000;
  --color-border-dark-primary: #131619;
  --color-border-dark-secondary: #1d1f23;
  --color-border-dark-tertiary: #44454b;
  --color-scrollbar: rgb(44, 46, 53);
  --color-scrollbar-thumb: rgb(95, 109, 107);
  --color-scrollbar-border: rgb(44, 46, 53);
  --color-underline-active: rgb(53, 55, 63);
  --color-underline-header: rgb(73, 79, 87);
  --color-bg-btn-minor-inactive: #b8c4c9;
  --color-bg-btn-minor-active: #c9d4f8;
}

body {
  --color-scrollbar: rgb(44, 46, 53);
  --color-scrollbar-thumb: rgb(95, 109, 107);
  --color-scrollbar-border: rgb(44, 46, 53);
  --color-warm-1: hsl(194, 50%, 82%);
  --color-warm-2: #3f96c9;
  --color-warm-3: #564957;
  --color-cool-3: #584a75;
  --color-cool-4: #302831;
  --color-cool-5: #0b0a13;
  --color-cool-5-25: rgba(11, 10, 19, 0.25);
  --color-cool-5-50: rgba(11, 10, 19, 0.5);
  --color-cool-5-75: rgba(11, 10, 19, 0.75);
  --color-cool-5-90: rgba(11, 10, 19, 0.9);
  --color-light-1: #e8f2f7;
  --color-light-2: #d8e5ef;
  --color-light-3: #b1d8e7;
  --color-light-4: #a3c2d0;
  --color-light-5: #75979f;
  --color-light-6: #667581;
  --color-dark-1: #111111;
  --color-dark-2: #222222;
  --color-dark-3: #444444;
  --color-dark-4: #555555;
  --color-dark-5: #666666;
  --color-dark-6: #777777;
}

.app.sheet .editor {
  min-height: 55px;
}

.editor-content {
  padding: 0.5rem;
  min-height: 50px;
}

body {
  background-color: #f0f7f5;
}
body .assistant-sc-regular {
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.window-app .window-content {
  color: #2c2e35;
  background: #f0f7f5;
}

input[type=text], input[type=number] {
  color: #2c2e35;
  background-color: rgba(255, 255, 255, 0.431372549);
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  border-radius: 0;
  border: none;
}

#curve {
  fill: transparent;
}

text {
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
  letter-spacing: 16px;
  text-transform: uppercase;
  fill: #2c2e35;
}

.circle-container .att-input {
  color: #2c2e35;
  font-size: 2rem;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1001;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.small-label {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

select[multiple] {
  padding-right: 0;
  height: 6rem;
}
select[multiple] option {
  white-space: normal;
  outline-color: #2c2e35;
}
select[multiple] option:checked {
  background-color: #f0f7f5;
  color: #2c2e35;
}

select:-internal-list-box option:checked {
  background-color: #f0f7f5;
  color: #2c2e35;
}/*# sourceMappingURL=electric-state.css.map */