@use "../abstracts" as *;


.gap-small{
  gap: 3px;
}

.grid{
  display: grid;
}

.col-160-1fr{
  grid-template-columns: 160px 1fr;
}

.col-20-80{
  grid-template-columns: 20% 80%;
}

.col-30-70{
  grid-template-columns: 30% 70%;
}

.col-33-67{
  grid-template-columns: 33% 66%;
}

.align-bottom{
  align-items: end;
  align-self: end;
}

.align-content-start{
  align-content: flex-start;
 
}

.rollable {
    cursor: pointer;
    backdrop-filter: blur(2px);
    &:hover {
      text-shadow: $field-color 0 0 5px;
    }
  }

  .portrait {
    padding: 10px;
  }

  .border-thick {
    border: 5px solid $text-color;
  }

  .border-thin {
    border: 1px solid $text-color;
  }

  .padding-small {
    padding: 5px;
  }

  .padding-medium {
    padding: 10px;
  }

  .padding-large {
    padding: 20px;
  }

  .w-100 {
    width: 100%;
  }
