$text-color: #2c2e35;
$background-color:#f0f7f5;
$background-color-highlight:#cdeef0;
$field-color: #ffffff;
$highlight-interactive-element: #ff2121;
$background-color-highlight-50:#cdeef033;
$field-color-50: #ffffff33;

.red {
  color: $highlight-interactive-element;
}