@use "../abstracts" as *;

.item-edit{
    cursor: pointer;
  }

  .item-delete{
    cursor: pointer;
  }

  .toggle-on-hand{
    cursor: pointer;
  }

  .border-bottom{
    border-bottom: 1px solid $text-color;
  }