@use "../abstracts" as *;

.to-chat {
  cursor: pointer;
}

.item-edit {
  cursor: pointer;
}

.item-delete {
  cursor: pointer;
}

.item-create {
  cursor: pointer;
}

.toggle-fav {
  cursor: pointer;
}

.toggle-equip {
  cursor: pointer;
}

.border-bottom {
  border-bottom: 1px solid $text-color;
}

.all-caps {
  text-transform: uppercase;
}

.fw-800 {
  font-weight: 800;
}

.fw-700 {
  font-weight: 700;
}

.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.fw-300 {
  font-weight: 300;
}

.fw-200 {
  font-weight: 200;
}

.fw-100 {
  font-weight: 100;
}

.fs-800 {
  font-size: 3rem;
}

.fs-700 {
  font-size: 2.5rem;
}

.fs-600 {
  font-size: 2rem;
}

.fs-500 {
  font-size: 1.5rem;
}

.fs-400 {
  font-size: 1.25rem;
}

.fs-300 {
  font-size: 1rem;
}

.fs-200 {
  font-size: 0.75rem;
}

.fs-100 {
  font-size: 0.5rem;
}

.overflow-elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subheader {
  font-variant-caps: small-caps;
}

.successes {
  color: red;
}

.failures {
  color: rgb(37, 0, 37);
}

.bg-hatch {
  background: repeating-linear-gradient(
    -45deg,
    $background-color-highlight,
    $background-color-highlight 5px,
    $field-color 5px,
    $field-color 10px
  );
}

.bg-hatch2 {
  background: repeating-linear-gradient(
    -45deg,
    $background-color-highlight-50,
    $background-color-highlight-50 5px,
    $field-color-50 5px,
    $field-color-50 10px
  );
}

.bg-dark {
  background-color: $text-color;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: $text-color;
  color: $field-color;
  text-align: center;
  padding: 3px 15px;
  margin: 3px;
  border-radius: 0;
  /* Position the tooltip text */
  position: absolute;

  z-index: 1001;
  bottom: 100%;
  left: 50%;
  margin-left: -100%;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.input-text {
  background-color: $field-color;
  color: $text-color;
  border-bottom: 1px solid $text-color;
  border-radius: 0;
  resize: none;
  outline-color: $background-color-highlight;
}

ul.leaders {
  font-variant-caps: small-caps;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
  padding: 3px;
}
ul.leaders li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . ";
}
ul.leaders span:first-child {
  padding-right: 0.33em;
  background: $background-color;
}
ul.leaders span + span {
  float: right;
  background: $background-color;
}

.clickable {
  cursor: pointer;

  &:hover {
    text-shadow: $highlight-interactive-element 0 0 5px;
    text-decoration: underline;
    text-decoration-color: $highlight-interactive-element;
  }
}

.css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
#checkboxDisplay {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.css-checkbox + label {
  position: relative;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 16px;
  color: rgb(0, 0, 0);
}
.css-checkbox + label::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  width: 14px;
  height: 14px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-radius: 2px;
  box-shadow: rgba(42, 42, 42, 0) 0px 0px 0px 0px;
}
.css-checkbox:checked + label::after {
  content: " ";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzNTIgNTEyIj48cGF0aCBmaWxsPSIjOGM4YzhjIiBkPSJNMjQyLjcyIDI1NmwxMDAuMDctMTAwLjA3YzEyLjI4LTEyLjI4IDEyLjI4LTMyLjE5IDAtNDQuNDhsLTIyLjI0LTIyLjI0Yy0xMi4yOC0xMi4yOC0zMi4xOS0xMi4yOC00NC40OCAwTDE3NiAxODkuMjggNzUuOTMgODkuMjFjLTEyLjI4LTEyLjI4LTMyLjE5LTEyLjI4LTQ0LjQ4IDBMOS4yMSAxMTEuNDVjLTEyLjI4IDEyLjI4LTEyLjI4IDMyLjE5IDAgNDQuNDhMMTA5LjI4IDI1NiA5LjIxIDM1Ni4wN2MtMTIuMjggMTIuMjgtMTIuMjggMzIuMTkgMCA0NC40OGwyMi4yNCAyMi4yNGMxMi4yOCAxMi4yOCAzMi4yIDEyLjI4IDQ0LjQ4IDBMMTc2IDMyMi43MmwxMDAuMDcgMTAwLjA3YzEyLjI4IDEyLjI4IDMyLjIgMTIuMjggNDQuNDggMGwyMi4yNC0yMi4yNGMxMi4yOC0xMi4yOCAxMi4yOC0zMi4xOSAwLTQ0LjQ4TDI0Mi43MiAyNTZ6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: center center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  left: 0px;
  top: 0px;
  text-align: center;
  background-color: transparent;
  font-size: 10px;
  height: 16px;
  width: 16px;
}
