<div class="dice-infos">
  {{#if (eq roll.game 'es')}}
    {{#if (gt roll.options.damage 0)}}
        <div class="roll-damage center fs-400 fw-700 margin-small">
          <span class="label">{{localize "estate.UI.DAMAGE"}}: </span>
          <span class ="result">{{roll.options.damage}}</span>
        </div>
    {{/if}}
  {{/if}}

</div>