<div>
    <div class="container">
        <div class="full-size">
            {{editor notesHTML target="system.notes" button=true owner=owner editable=editable engine="prosemirror" collaborate=false }}
        </div>
    </div>
</div>
