<div class="grid gap-small">
    <div class="flexcol">
         {{> "systems/electric-state/templates/actors/parts/stats.hbs"}}
        <div class="flexrow">
            <div class="flexrow all-caps fw-700 border-bottom-thin align-bottom mi-small">
                {{localize "estate.ATTRIBUTE.HEALTH"}}
                <div class="input-container mi-small center"> <input type="text" name="system.health.value"
                        value="{{actor.system.health.value}}" style="width: 50px" data-dtype="Number" /></div>
                <div class="fw-500 fs-300 justify flexrow">
                    <div>/</div>
                    <div> {{actor.system.health.max}}</div>
                </div>
            </div>
        </div>
        <div class="flexrow gap-small">
            <div class="flexcol padding-small">
                {{> "systems/electric-state/templates/actors/parts/talents.hbs"}}
            </div>
        </div>
    </div>
</div>
